.xp-widget-newsletter-panel {
  padding: 0rem !important;
  background-color: transparent !important;
}

.xp-widget-newsletter-panel .title,
.xp-widget-newsletter-panel .intro {
  display: none;
}

.xp-widget-newsletter-panel .form-line label {
  position: absolute;
  top: 0.7rem;
  font-size: 1rem;
}

.xp-widget-newsletter-panel .form-line input {
  color: #00000080 !important;
  background-color: transparent !important;
  border: 0 solid #000 !important;
  border-bottom-width: 2px !important;
  border-radius: 0;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: .5rem 0 1.375rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1 !important;
}

.xp-widget-newsletter-panel .form-line {
  width: 100% !important;
  position: relative !important;
}

.xp-widget-newsletter-panel .form-submit {
  background-color: #0000 !important;
  background-image: url("https://cdn.prod.website-files.com/6877b50802107221745ba52e/6877f8eb67e7b0562df697ee_633b16170a5347dd90ee465d_arrow-right-white.svg.svg") !important;
  background-position: 100% !important;
  background-repeat: no-repeat !important;
  background-size: 1.5rem !important;
  width: 2rem !important;
  height: 2rem !important;
  padding: 0 !important;
  transition: all .2s !important;
  position: absolute !important;
  inset: auto 0% -0.3rem auto !important;
  transform: translateY(-50%) !important;  
  color: transparent !important;
  border: 0px solid transparent !important;
}

.xp-widget-newsletter-panel form {
  width: 100%;
  clear: both;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  align-items: center;
  line-height: 1;
  position: relative !important;
  margin-bottom: 0px !important;
}
